/*  * is called a universal selector */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.section__main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    height: 100%;
    padding: 40px 0;
    background-color: #f1f1f1;
}

h2 {
    font-size: 2rem;
    color: red;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 800;
}


.section__content-topics li {
    gap: 20px;
    padding: 20px;
    background-color: #f1f1f1;
    font-size: 1.2rem;
}